[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
jupyter = "*"
gunicorn = "*"
matplotlib = "*"
requests = "*"
ipykernel = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
