<!-- ABOUT PAGE--> 
<!DOCTYPE html>
<html>
<title>AirBnB Predictor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>   
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="/" class="w3-bar-item w3-button w3-red w3-mobile"><i class="w3-margin-right"></i><img src="static/images/predictor.png" alt="airbnb predictor"></a>
  <a href="/about" class="w3-bar-item w3-button w3-mobile">About</a>
</div>
 
<div class="w3-row-padding" id="about">
    <div class="w3-col l4 12">
      <h3>About</h3>
      <br>
      <h6>How much should you charge for a night in your Airbnb? Every Airbnb host has struggled with this question. You don’t want to charge too little and be underselling your unique listing. You don’t want to charge too much and miss out on customers.
        </h6>
    <p>The Right Price Airbnb answers that question. This application allows you to input each aspect of your particular listing that makes it stand out. Right Price Airbnb then does the work of calculating the perfect price for your location and situation. Currently, this application offers support for hosts in six US cities. 
        <a href="https://github.com/JenFaith/airbnb_app.git">See the work behind this application</a>
    </p>
    </div>
    <div class="w3-col l8 12">
      <img src="/static/images/AdobeStock_117329644.jpg" class="w3-image w3-greyscale" style="width:100%;">
    </div>
  </div>
  <br>
  <br>
  <div class="w3-row-padding w3-padding-16">
    <h2> Meet the Creators</h2>
    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-container w3-white">
        <h3>Kevin Weatherwalks</h3>
        <p class="w3-large"><i class="fa fa-github"></i>
            <a href="https://github.com/KWeatherwalks">Github</a></p>
        <p class="w3-large"><i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/in/kevin-weatherwalks">Linkedin</a></p>
      </div>
    </div>
    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-container w3-white">
        <h3>Stephen Lupsha</h3>
        <p class="w3-large"><i class="fa fa-github"></i>
            <a href="https://github.com/StephenSpicer">Github</a></p>
        <p class="w3-large"><i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/in/stephen-lupsha-b60136140">Linkedin</a></p>
      </div>
    </div>
    <div class="w3-quarter w3-margin-bottom">
      <div class="w3-container w3-white">
        <h3>Filipe Collares</h3>
        <p class="w3-large"><i class="fa fa-github"></i>
            <a href="https://github.com/fcollares">Github</a></p>
        <p class="w3-large"><i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/in/fcollares">Linkedin</a></p>
      </div>
    </div>
    <div class="w3-quarter w3-margin-bottom">
        <div class="w3-container w3-white">
          <h3>Jennifer Faith</h3>
          <p class="w3-large"><i class="fa fa-github"></i>
            <a href="https://github.com/JenFaith">Github</a></p>
        <p class="w3-large"><i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/in/jennifer-faith">Linkedin</a></p>
        </div>
      </div>
  </div>
  

</div>
</div>
</header>
</html>

  