<!-- Base HTML Template For Application --> 
<!DOCTYPE html>
<html>
<title>AirBnB Predictor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>   
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="/" class="w3-bar-item w3-button w3-red w3-mobile"><i class="w3-margin-right"></i><img src="static/images/predictor.png" alt="airbnb predictor"></a>
  <a href="/about" class="w3-bar-item w3-button w3-mobile">About</a>
</div>

<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="static/images/AdobeStock_405320951.jpeg" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="w3-margin-right"></i>Price Your Airbnb Listing</h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
        {% block body %}
        {% endblock %}
    </div>
  </div>
</header>
</html>
