<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/">
        Wi-Fi <input type="checkbox" value="Wi-FI" name="feature_checkbox">
        Patio <input type="checkbox" value="Patio" name="feature_checkbox">
        Laundry <input type="checkbox" value="3" name="feature_checkbox">
        Laptop Friendly <input type="checkbox" value="4" name="feature_checkbox"> 
        Laundry <input type="checkbox" value="4" name="feature_checkbox">
        A/C <input type="checkbox" value="5" name="feature_checkbox">
        TV <input type="checkbox" value="6" name="feature_checkbox">
        Fireplace <input type="checkbox" value="7" name="feature_checkbox">
        <input type="SUBMIT">
    </form>
</body>
</html>
